<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KenJobsEntities" connectionString="metadata=res://*/KenJobs.csdl|res://*/KenJobs.ssdl|res://*/KenJobs.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SEKHARDEV\DEVSQL;initial catalog=kenjobs;integrated security=True;user id=sa;password=sa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>