@import "./variables.scss";
// can also be relative import
// @import "./variables.scss";
// we can use the $primaryColor variable now
// h1, h2 {
//     color: $primaryColor;
//   }
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00317F;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

//Navigation 

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.img200 {
    width: 200px;
    height: 200px;
}

//Table Formate
.display-table {
    display: table;
    overflow: scroll;
    /* Scrollbar are always visible */
    overflow: auto;
    /* Scrollbar is displayed as it's needed */
}

.display-table>div {
    display: table-row;
}

.display-table>div>div {
    display: table-cell;
    padding: 5px;
}

body {
    background-color: #F7F7F9;
}


/*Login Page*/

.login_leftimg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../assets/images/Login/andrew-neel-ute2XAFQU2I-unsplash.png');
    background-repeat: "no-repeat";
    background-color: "rgba(0,0,0,0.6)";
    opacity: 1;
}

.login_centered {
    position: absolute;
    top: 50%;
    right: 1px;
    text-align: right;
    transform: translate(0%, -50%);
    border-right: 2px solid white;
    padding-right: 10px;
    ;
}

.login_centered h3 {
    font-size: 50px;
}

.login_centered h4 {
    font-size: 50px;
    font-weight: lighter !important;
}

.login_imgText {}

.nav-height-8 {
    height: 8.5%;
}

.container-height-92 {
    height: 92%;
    overflow-y: auto;
}

.firma-ara {
    // padding-bottom: 100px;
    // padding-top: 100px;
}

.form-arka-plan {
    // background-image: url("https://cdn.filepicker.io/api/file/1WxRtkAQG5h70aoPQdGA/convert?format=jpeg&quality=50");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.acik-renk-form {
    background: rgba(255, 255, 255, 0);
    border: none
}

.siyah-cerceve {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}