@import "./variables.scss";

// can also be relative import
// @import "./variables.scss";

// we can use the $primaryColor variable now
// h1, h2 {
//     color: $primaryColor;
//   }
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00317F;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.img200{
  width: 200px;
  height: 200px;
}

//Table Formate
.display-table {
  display: table; 
  overflow: scroll; /* Scrollbar are always visible */
overflow: auto;   /* Scrollbar is displayed as it's needed */
}
.display-table > div { 
  display: table-row; 
}
.display-table > div > div { 
  display: table-cell;
  padding: 5px;
}